#top{

	position: relative;
	left: 152px;
	top: 22px;
	margin-bottom: 0px;
	margin-right: 460px;
	margin-top: 0;
	padding: 20px;
	border-color: #cccccc;
	display: inline-block;
	background: teal;
	color: #fff ; 
	font-family: georgia;
	float: left;
	text-align: center;

}


a{
	margin-top: inherit;
	display: inline-block;
	font-family: arial;
	font-size: 16;
	color: #777777;
	margin-right: 10px;
	position: relative;
	top: 50px;
	right: -180px;
	text-decoration: none;
}




div{

background-color: #ffffff;
display: inline-block;
vertical-align: top;

}

.wrap{

width: 960px;
background-color: #BCC6CC;
position: relative;
left: 152px;
margin: 0;
display: inline-block;

} 

.right{
	margin-top: 20px;
	margin-right: 15px;
	float: right;
	width: 270px;
	vertical-align: top;
	font-size: 14;
	border-color: white;
	display: inline-block;


}



.left{
	
	vertical-align: top;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 15px;
	margin-right: auto;
	border-color: white;
	width: 650px;
	display: inline-block;
	clear: right;

}


form{
	display: inline-block;
	width: 100%;
	margin-left: auto;
	font-family: arial;
	color: grey;
	

}

#name{

	margin-left: 20px;
	margin-right: auto;
	display: inline-block;
	width: 90%;
	height: 40px;
	font-size: 16;
	font-family: arial;

}

#email{

	margin-left: 20px;
	margin-right: auto;
	display: inline-block;
	width: 90%;
	height: 40px;
	font-size: 16;
	font-family: arial;
}

#message{

	margin-left: 20px;
	margin-top: 0;
	margin-bottom: 0;
	display: inline-block;
	font-size: 16;
	font-family: arial;
	align-content: center;
}

#submit{
	margin-left: 20px;
	margin-top: 3px;
	margin-bottom: 3px;
	background: teal;
	color: white;
	border: none;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 30;	
}

h2{
	color: grey;
	font-family: arial;
	margin-left: auto;
	margin-bottom: 0px;
	padding: 20px;
	font-size: 16;
	
}




hr{
	margin-left: 15px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 5px; 
	border-width: 1px;
	width: 90%;
 	height: 1px
}





#Contact{
	background-color: white;
	color: #4aaaa5;
	vertical-align: top;
	margin-left: 20px;
}



#connect{
	background-color: white;
	color: #4aaaa5;
	margin-left: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 20px;
	text-align: center;
}


#Github{

	display: inline-block;
	position: relative;
	bottom: 20px;
	top:-10px;
	right: 0;
	left: 10px;
	
	
}

#Stack{
	display: inline-block;
	position: relative;
	bottom: 20px;
	top: -10px;
	right: 0;
	left: 30px;
	
	
}

#LinkedIn{
	display: inline-block;
	position: relative;
	bottom: 20px;
	top: -10px;
	right: 0;
	left: 50px;

	
}

img{
	width: 60px;
	margin-top: 0;
	

}

p{

	font-family: arial; 
	font-size: 12;
	margin-left: 10px;
	color: grey;


}

#me{

	width: 250px;
	margin: 12px;
	float: left;


}



.formlayout{
	height: 20px;

}

footer{
	width: 960px;
	text-align: center;
	background-color: grey;
	color: #d3d3d3;
	font-family: arial;
	font-size: 12;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: auto;
	margin-right: auto;	
	border-top-color: teal;
	border-top-style: solid;	
	border-top-width:  10px;
	position: : fixed;
	}

head{
	margin-left: 152px;
	position: fixed; ;
	top: 0;
}






.portfolioimgs{

	position: relative;
	width: 80%;
	height: 80%;
	display: inline-block;
	

}



.portfolioitems{
	color: #ffffff;
	font-weight: bold;
	background-color: #4aaaa5;
	position: relative;
	width: 80%;
	height: 10%;
	bottom: 50px;
	left: -10px;
	text-align: center;
	vertical-align: center;
	margin-top: 10px

}

.boxsize{

	width: 40%;
	height: 40%;
	margin-left: 20px;
	margin-right: 0;

}

.center{

	margin-left: 75px;
	margin-right: auto;
}

#index{
position: relative;
top: 50px;


}

.linksdecoration{
	text-decoration: none;

}


